.body {
    background-color: rgb(185, 180, 180);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

header {
    position: sticky;
    top: 0px;
    background-color: black;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
}

.navbar nav ul {
    list-style: none;
    display: flex;
    gap: 50px;
}

.navbar nav ul li a {
    text-decoration: none;
    color: gray;
    padding: 8px 15px;
    border-radius: 5px;
}

.navbar .logo {
    color: gray;
    font-size: 28px;
}

.active,
.navbar nav ul li a:hover {
    background-color: aliceblue;
    color: fff !important;
}

.box {
    border: 1px solid green;
    background-color: green;
    text-align: center;
    padding: 25%;

}

.title {
    font-size: 20px;
    text-align: center;
    color: gray;
}

.image {
    color: gray;
}



.intro .title {
    text-align: center;
    color: gray;
    margin-bottom: 20px;
    font-weight: 400;
}

.intro .paragraf {
    text-align: center;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
}

.wrapper {
    display: flex;
    gap: 10px;
    justify-content: center;
    border: 1px solid rgb(245, 241, 241);
    background-color: rgb(240, 235, 235);
    align-items: center;
    justify-content: center;
    display: flex;

}

.wrapper .card {
    width: 24%;
    justify-content: center;

}

.wrapper .card img {
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.card-paragraf {
    text-align: center;
    color: rgb(255, 255, 255);
}

.title {
    color: rgb(255, 255, 255);
}

.titles {
    color: rgb(255, 255, 255);
}

.titless {
    color: rgb(255, 255, 255);
}

.titlesss {
    color: rgb(255, 255, 255);
}



.img {
    display: flex;
    height: 100px;
    width: 100px;
}

.wrapper {
    display: flex;
    height: 400px;
    display: ;
}

.imgg {
    display: flex;
    height: 100px;
    width: 100px;
}

.imggg {
    display: flex;
    height: 100px;
    width: 100px;
}

.imgggg {
    display: flex;
    height: 100px;
    width: 100px;
}

.p {
    text-align: center;
    font-size: 40px;
    color: rgb(73, 64, 64);

}

.boxx {

    gap: 10px;
    justify-content: center;
    border: 1px solid rgb(219, 217, 217);
    background-color: rgb(219, 217, 217);
    align-items: center;
    justify-content: center;
    height: 400px;
    padding: 30px;

}

.an {
    font-size: 50px;
    color: gray;
    text-align: center;
}

.tit {
    text-align: center;
    font-size: 50px;
    color: rgb(73, 64, 64);

}

.zte {
    font-size: 20px;
}

.boxxx {

    gap: 10px;
    justify-content: center;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 350px;
    width: 1200px;
    color: red;


}



.wrapperr {

    gap: 10px;
    justify-content: center;
    border: 1px solid rgb(245, 241, 241);
    background-color: rgb(240, 235, 235);
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    gap: 15px;
  
}

.green {
    background-color: green;
}

.orange {
    background-color: orange;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.qwerty {
    text-align: center;
}

.zte {
    color: white;
}

.qws {
    text-align: center;
}

.h1 {
    text-align: center;
}